{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tumi Anfibio</title>
        <base href="./">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/views.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <style> @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"); </style>
    </head>
    <body>
        <div class="app">
            <div class="gallery_view">
                <div class="welcome_header">
                    <img class="welcome_logotumi_img" src="{% static 'Img/tumi_logo_2.png' %}" alt="Logo">
                    <img class="welcome_logotumi_img_2" src="{% static 'Img/separator.png' %}" alt="">
                    <p class="welcome_header_text">Galería</p> 
                </div>
                {% if tipo == 'insp_total' %}
                <a href="http://localhost:3000/Main" style="text-decoration: none">
                    <img class="work_back_img"  src="{% static 'Img/arrow_left.png' %}" alt="">
                </a>
                {% endif %}
                {% if tipo == 'insp_esp' %}
                <a href="http://localhost:3000/MasEstadisticas" style="text-decoration: none">
                    <img class="work_back_img"  src="{% static 'Img/arrow_left.png' %}" alt="">
                </a>
                {% endif %}
                <img class="arrow_img_left"  src="{% static 'Img/arrow_left2.png' %}" alt="" style="visibility: hidden"/>
                <img class="arrow_img_right"  src="{% static 'Img/arrow_right.png' %}" alt=""  style="visibility: hidden"/>
                <div class="gallery_section">
                    {% if tipo == 'insp_total' %}
                        <div class="gallery_container_buttons">
                            <a href="{% url 'infoAnfibio:videosInspeccionTotal' %}" style="text-decoration: none;"><button class="gallery_button button_gallery_enable">Videos</button></a>
                            <a href="{% url 'infoAnfibio:fotosInspeccionTotal' %}" style="text-decoration: none;"><button class="gallery_button button_gallery_disable">Fotos</button></a>
                        </div>
                    {% endif %}
                    {% if tipo == 'insp_esp' %}
                        <div class="gallery_container_buttons">
                            <a href="{% url 'infoAnfibio:videosInspeccionEspecifico' id_insp %}" style="text-decoration: none;"><button class="gallery_button button_gallery_enable">Videos</button></a>
                            <a href="{% url 'infoAnfibio:fotosInspeccionEspecifico' id_insp %}" style="text-decoration: none;"><button class="gallery_button button_gallery_disable">Fotos</button></a>
                        </div>
                    {% endif %}
                    <div class="gallery_boat_row">
                        {%  for foto in fotos_totales %}
                            <div class="gallery_boat">
                                <button style="background-color: transparent; border: solid white 1px; border-radius: 5px;" data-bs-toggle="modal" data-bs-target="#{{ foto.2 }}">
                                    <img src="{% static foto.0 %}" style="display:block; max-width:200px; max-height:200px; width:auto;height:auto;">
                                </button>
                                <h6 style="color: white;">{{ foto.1 }}</h6>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

{% for img in fotos_totales %}
<div class="modal fade" id="{{ img.2 }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel">{{ img.1 }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <img class="rounded mx-auto d-block" src="{% static img.0 %}" style="display:block; max-width:720px; max-height:720px; width:auto;height:auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}