<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tumi Anfibio</title>
    <base href="./">
    <link rel="stylesheet" type="text/css" href="./style/views.css" >

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <style> @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"); </style>
</head>
<body>
    


    <!--  -->
    <div class="app">

    <div class="gallery_view">
        <div class="welcome_header">
                <img class="welcome_logotumi_img" src="./img/tumi_logo_2.png" alt="Logo" />
                <img class="welcome_logotumi_img_2" src="./img/separator.png" alt="" />
                <p class="welcome_header_text">Galería</p> 
        </div>


          <a href="/main/home" style="text-decoration: none"><img class="work_back_img"  src="./img/arrow_left.png" alt="" /></a>
          <!-- <a href="/main/home"  style="text-decoration: none"><img class="photo_session" src="./img/users/Mariel.png" alt="" /></a> -->


          <img class="arrow_img_left"  src="./img/arrow_left2.png" alt="" style="visibility: hidden"/>
          <img class="arrow_img_right"  src="./img/arrow_right.png" alt=""  style="visibility: hidden"/>


          <div class="gallery_section">

            <div class="gallery_container_buttons">
              <button class="gallery_button button_gallery_enable"> Fotos</button>
              <a href="/main/album" style="text-decoration: none;"><button class="gallery_button button_gallery_disable">Videos</button></a>
            </div>
            <!-- <input name="fname" class="input_findWork" type="text" id="fname" placeholder="Busca por código"/> -->
            <div class="gallery_boat_row">
              

              <!-- <div class="gallery_boat boat3">                  
              </div>
              <div class="gallery_boat boat3">
              </div>
              <div class="gallery_boat boat3">                  
              </div>
              <div class="gallery_boat boat4">
              </div>
              <div class="gallery_boat boat3">                  
              </div>
              

              <div class="gallery_boat boat3">                  
              </div>
              <div class="gallery_boat boat4">
              </div>
              <div class="gallery_boat boat4">                  
              </div>
              <div class="gallery_boat boat4">                  
              </div>
              <div class="gallery_boat boat3">
              </div>

              <div class="gallery_boat boat3">
              </div> -->


            </div >
            
          </div>  

      </div>
      </div>
</body>
</html>