{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tumi Anfibio</title>
        <base href="./">
        <link rel="stylesheet" type="text/css" href="{% static 'styles/views.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <style> @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"); </style>
    </head>
    <body>
        <div class="app">
            <div class="gallery_view">
                <div class="welcome_header">
                    <img class="welcome_logotumi_img" src="{% static 'Img/tumi_logo_2.png' %}" alt="Logo">
                    <img class="welcome_logotumi_img_2" src="{% static 'Img/separator.png' %}" alt="">
                    <p class="welcome_header_text">Galería</p> 
                </div>
                {% if tipo == 'insp_total' %}
                <a href="http://localhost:3000/Main" style="text-decoration: none">
                    <img class="work_back_img"  src="{% static 'Img/arrow_left.png' %}" alt="">
                </a>
                {% endif %}
                {% if tipo == 'insp_esp' %}
                <a href="http://localhost:3000/MasEstadisticas" style="text-decoration: none">
                    <img class="work_back_img"  src="{% static 'Img/arrow_left.png' %}" alt="">
                </a>
                {% endif %}
                <img class="arrow_img_left"  src="{% static 'Img/arrow_left2.png' %}" alt="" style="visibility: hidden"/>
                <img class="arrow_img_right"  src="{% static 'Img/arrow_right.png' %}" alt=""  style="visibility: hidden"/>
                <div class="gallery_section">
                    {% if tipo == 'insp_total' %}
                        <div class="gallery_container_buttons">
                            <a href="{% url 'infoAnfibio:videosInspeccionTotal' %}" style="text-decoration: none;"><button class="gallery_button button_gallery_disable">Videos</button></a>
                            <a href="{% url 'infoAnfibio:fotosInspeccionTotal' %}" style="text-decoration: none;"><button class="gallery_button button_gallery_enable">Fotos</button></a>
                        </div>
                    {% endif %}
                    {% if tipo == 'insp_esp' %}
                        <div class="gallery_container_buttons">
                            <a href="{% url 'infoAnfibio:videosInspeccionEspecifico' id_insp %}" style="text-decoration: none;"><button class="gallery_button button_gallery_disable">Videos</button></a>
                            <a href="{% url 'infoAnfibio:fotosInspeccionEspecifico' id_insp %}" style="text-decoration: none;"><button class="gallery_button button_gallery_enable">Fotos</button></a>
                        </div>
                    {% endif %}
                    {% if tipo == 'insp_total' %}
                    <div class="gallery_boat_row">
                        {%  for video in videos_totales %}
                            <div class="gallery_boat">
                                <a href="{% url 'infoAnfibio:videoPlayer' video %}"><img src="{% static 'Img/videoPlay.jpg' %}" style="display:block; max-width:200px; max-height:200px; width:auto;height:auto;"></a>
                                <h6 style="color: white;">{{ video }}</h6>
                                <!--<img src="{% static foto %}" style="display:block; max-width:200px; max-height:200px; width:auto;height:auto;">-->
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if tipo == 'insp_esp' %}
                    <div class="gallery_boat_row">
                        {%  for video in videos_totales %}
                            <div class="gallery_boat">
                                <a href="{% url 'infoAnfibio:videoEspecifico' video id_insp %}"><img src="{% static 'Img/videoPlay.jpg' %}" style="display:block; max-width:200px; max-height:200px; width:auto;height:auto;"></a>
                                <h6 style="color: white;">{{ video }}</h6>
                                <!--<img src="{% static foto %}" style="display:block; max-width:200px; max-height:200px; width:auto;height:auto;">-->
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>